html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2px;
  overflow-x: hidden;
}

.blocks {
  width: 100%;
}

.blocks-wrapper {
  margin: 0px 12px;
}

.subtext {
  font-size: 0.85rem;
  color: rgba(0,0,0,0.2);
}

/* @class Block */

.Block {
  display: inline-block;
  padding: 60px;
  margin: 0px 12px 12px 0px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.6px;
  transition: 0.2s all;
}

.Block__title {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

.Block__subtitle {
  display: block;
  font-size: 0.9rem;
}

@media screen and (max-width:500px) {
  .Block {
    display: block;
    margin: 0px 0px 12px 0px;
  }
}
